.App .App-header input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 165px;
  }
  .App .App-header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
  }
  .App .App-header button:hover {
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
  }
  .App .theList {
    list-style: none;
    padding-left: 0;
    width: 250px;
  } 
  .App .theList li {
    color: #333;
    background-color: rgba(255,255,255,.5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style: none;
  }
  ul.theList {
    padding: 0;
  }

  .App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    
  }
  
  .App-title {
    font-size: 1.5em;
    align-content: center;
    text-align: center;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }